.topLeft {
  height: 50%;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  padding: 20px;
  gap: 15px;
  overflow-y: auto;
}

.topLeft div {
  padding: 1rem;
}

.topLeft p {
  margin: 5px 0;
  font-size: 12px;
  font-weight: bold;
}
